.circular--square {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.custom table, tr, td {
    border: none;
}

.custom table td {
    border: none;
}

.custom table tr td {
    border: none;
}

.main-content table td {
    border: none;
}
